[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2026.4.22"
distlib = "==0.4.0"
filelock = "==3.29.0"
packaging = "==26.2"
pipenv = "==2026.6.1"
platformdirs = "==4.9.6"
python-discovery = "==1.3.0"
virtualenv = "==21.3.1"
numpy = "*"
pandas = "*"
my-dataproc = {path = ".", editable = true}

[dev-packages]
ruff = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
pre-commit = "*"
sphinx = "*"
sphinxcontrib-mermaid = "*"
build = "*"
twine = "*"
sphinx-autoapi = "*"
pydata-sphinx-theme = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.11"
